<div class="container">
    <mat-toolbar>
        <span>Folders</span>
        <div class="example-spacer"></div>
        <button mat-raised-button color="primary" [routerLink]="['/dashboard/folderRegister', { companyId: textSelect }]">Agregar Folder</button>
    </mat-toolbar>

    <div>
      <mat-form-field>
        <mat-label>Empresa</mat-label>
        <mat-select [(value)]="textSelect">
          @for (c of companies; track c) {
            <mat-option (onSelectionChange)="loadFolders(c.companyId)" [value]="c.companyId">{{c.description}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div class="mat-elevation-z8" *ngIf="folderList.length > 0">
        <table mat-table [dataSource]="dataSource" matSort>

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.folderId}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <ng-container matColumnDef="processedAudios">
            <th mat-header-cell *matHeaderCellDef> Audios Procesados </th>
            <td mat-cell *matCellDef="let element"> {{element.processedAudios}} </td>
          </ng-container>

          <ng-container matColumnDef="analizedAudios">
            <th mat-header-cell *matHeaderCellDef> Audios Analizados </th>
            <td mat-cell *matCellDef="let element"> {{element.analizedAudios}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;">
                  <a class="pointer" [routerLink]="['/dashboard/folderRegister', { folderId: element.folderId, description: element.description, companyId: textSelect }]" style="color: green;" matTooltip="Editar Folder">
                      <mat-icon>edit</mat-icon>
                  </a>
                  <a class="pointer" (click)="openDialog(element.folderId)" style="color: lightseagreen;" matTooltip="Subir Audios">
                    <mat-icon>upload</mat-icon>
                </a>
                  <a class="pointer" (click)="deleteFolder(element.folderId)" style="color: red;" matTooltip="Eliminar Folder">
                      <mat-icon>delete</mat-icon>
                  </a>
              </td>
            </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of folders"></mat-paginator>
      </div>
      <h4 *ngIf="folderList.length === 0">No hay registros para mostrar</h4>
    </div>
</div>