.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: white;
}
.login {
    width: 100%;
    max-width: 390px;
    text-align: center;
}
.field-width {
    width: 70%;
}
.login-signin-button {
    height: 50px;
}
.spinner {
    margin: 0 auto;
}