<div class="body">
    <div class="login">
        <mat-spinner diameter="50" class="spinner" *ngIf="loading"></mat-spinner>
        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="login()">
            <h1>login works!</h1>
            <mat-form-field class="field-width">
                <mat-label>Usuario</mat-label>
                <input matInput autocomplete="off" formControlName="user"/>
            </mat-form-field>
            <mat-form-field class="field-width">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" autocomplete="off" formControlName="password" />
                <button
                    mat-icon-button
                    matSuffix
                    (click)="clickEvent($event)"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <br>
            <button type="submit" 
                    class="field-width login-signin-button" 
                    [disabled]="form.invalid"
                    mat-raised-button color="primary">Ingresar</button>
        </form>
    </div>
</div>
